package ${packageName}.controller;

import java.util.List;
import jakarta.servlet.http.HttpServletResponse;
import org.springframework.security.access.prepost.PreAuthorize;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.GetMapping;
import org.springframework.web.bind.annotation.PostMapping;
import org.springframework.web.bind.annotation.PutMapping;
import org.springframework.web.bind.annotation.DeleteMapping;
import org.springframework.web.bind.annotation.PathVariable;
import org.springframework.web.bind.annotation.RequestBody;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RestController;
import com.sensitive.common.annotation.Log;
import com.sensitive.common.core.controller.BaseController;
import com.sensitive.common.core.domain.AjaxResult;
import com.sensitive.common.enums.BusinessType;
import ${packageName}.domain.${ClassName};
#if($table.subDetail)
import ${packageName}.domain.${subClassName};
#end
import ${packageName}.service.I${ClassName}Service;
import com.sensitive.common.utils.poi.ExcelUtil;
#if($table.crud || $table.sub || $table.subDetail)
import com.sensitive.common.core.page.TableDataInfo;
#elseif($table.tree)
#end

/**
 * ${functionName}Controller
 * 
 * @author ${author}
 * @date ${datetime}
 */
@RestController
@RequestMapping("/${moduleName}/${businessName}")
public class ${ClassName}Controller extends BaseController
{
    @Autowired
    private I${ClassName}Service ${className}Service;

    /**
     * 查询${functionName}列表
     */
    @PreAuthorize("@ss.hasPermi('${permissionPrefix}:list')")
    @GetMapping("/list")
#if($table.crud || $table.sub || $table.subDetail)
    public TableDataInfo list(${ClassName} ${className})
    {
        startPage();
        List<${ClassName}> list = ${className}Service.select${ClassName}List(${className});
        return getDataTable(list);
    }
#elseif($table.tree)
    public AjaxResult list(${ClassName} ${className})
    {
        List<${ClassName}> list = ${className}Service.select${ClassName}List(${className});
        return success(list);
    }
#end

    /**
     * 导出${functionName}列表
     */
    @PreAuthorize("@ss.hasPermi('${permissionPrefix}:export')")
    @Log(title = "${functionName}", businessType = BusinessType.EXPORT)
    @PostMapping("/export")
    public void export(HttpServletResponse response, ${ClassName} ${className})
    {
        List<${ClassName}> list = ${className}Service.select${ClassName}List(${className});
        ExcelUtil<${ClassName}> util = new ExcelUtil<${ClassName}>(${ClassName}.class);
        util.exportExcel(response, list, "${functionName}数据");
    }

    /**
     * 获取${functionName}详细信息
     */
    @PreAuthorize("@ss.hasPermi('${permissionPrefix}:query')")
    @GetMapping(value = "/{${pkColumn.javaField}}")
    public AjaxResult getInfo(@PathVariable("${pkColumn.javaField}") ${pkColumn.javaType} ${pkColumn.javaField})
    {
        return success(${className}Service.select${ClassName}By${pkColumn.capJavaField}(${pkColumn.javaField}));
    }

    /**
     * 新增${functionName}
     */
    @PreAuthorize("@ss.hasPermi('${permissionPrefix}:add')")
    @Log(title = "${functionName}", businessType = BusinessType.INSERT)
    @PostMapping
    public AjaxResult add(@RequestBody ${ClassName} ${className})
    {
        return toAjax(${className}Service.insert${ClassName}(${className}));
    }

    /**
     * 修改${functionName}
     */
    @PreAuthorize("@ss.hasPermi('${permissionPrefix}:edit')")
    @Log(title = "${functionName}", businessType = BusinessType.UPDATE)
    @PutMapping
    public AjaxResult edit(@RequestBody ${ClassName} ${className})
    {
        return toAjax(${className}Service.update${ClassName}(${className}));
    }

    /**
     * 删除${functionName}
     */
    @PreAuthorize("@ss.hasPermi('${permissionPrefix}:remove')")
    @Log(title = "${functionName}", businessType = BusinessType.DELETE)
	@DeleteMapping("/{${pkColumn.javaField}s}")
    public AjaxResult remove(@PathVariable ${pkColumn.javaType}[] ${pkColumn.javaField}s)
    {
        return toAjax(${className}Service.delete${ClassName}By${pkColumn.capJavaField}s(${pkColumn.javaField}s));
    }
#if($table.subDetail)

    /**
     * 查询${subTable.functionName}列表
     */
    @PreAuthorize("@ss.hasPermi('${permissionPrefix}:list')")
    @GetMapping("/list${subClassName}")
    public TableDataInfo list${subClassName}(${subClassName} ${subclassName})
    {
        startPage();
        List<${subClassName}> list = ${className}Service.select${subClassName}List(${subclassName});
        return getDataTable(list);
    }

    /**
     * 获取${subTable.functionName}详细信息
     */
    @PreAuthorize("@ss.hasPermi('${permissionPrefix}:query')")
    @GetMapping(value = "/get${subClassName}/{${subTable.pkColumn.javaField}}")
    public AjaxResult get${subClassName}(@PathVariable("${subTable.pkColumn.javaField}") ${subTable.pkColumn.javaType} ${subTable.pkColumn.javaField})
    {
        return success(${className}Service.select${subClassName}By${subTable.pkColumn.capJavaField}(${subTable.pkColumn.javaField}));
    }

    /**
     * 新增${subTable.functionName}
     */
    @PreAuthorize("@ss.hasPermi('${permissionPrefix}:add')")
    @Log(title = "${subTable.functionName}", businessType = BusinessType.INSERT)
    @PostMapping("/${subclassName}")
    public AjaxResult add${subClassName}(@RequestBody ${subClassName} ${subclassName})
    {
        return toAjax(${className}Service.insert${subClassName}(${subclassName}));
    }

    /**
     * 修改${subTable.functionName}
     */
    @PreAuthorize("@ss.hasPermi('${permissionPrefix}:edit')")
    @Log(title = "${subTable.functionName}", businessType = BusinessType.UPDATE)
    @PutMapping("/${subclassName}")
    public AjaxResult edit${subClassName}(@RequestBody ${subClassName} ${subclassName})
    {
        return toAjax(${className}Service.update${subClassName}(${subclassName}));
    }

    /**
     * 删除${subTable.functionName}
     */
    @PreAuthorize("@ss.hasPermi('${permissionPrefix}:remove')")
    @Log(title = "${subTable.functionName}", businessType = BusinessType.DELETE)
    @DeleteMapping("/${subclassName}/{${subTable.pkColumn.javaField}s}")
    public AjaxResult remove${subClassName}(@PathVariable ${subTable.pkColumn.javaType}[] ${subTable.pkColumn.javaField}s)
    {
        return toAjax(${className}Service.delete${subClassName}By${subTable.pkColumn.capJavaField}s(${subTable.pkColumn.javaField}s));
    }
#end
}
